name: Sync labels

on:
  workflow_dispatch:
  push:
    paths:
      - ".github/labels.yml"

permissions:
  issues: write
  contents: read

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: EndBug/label-sync@a6f43c4d6acdfb5a12dd0bafcd1e5bc9aef7b5a4
        with:
          config-file: .github/labels.yml
          delete-other-labels: true
